.bg-blue {
    background: #30599d;
}
#header {
    background-image: url("img/lowpoly.png");
}

#header ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;

}

.navbar img {
    width: 150px;
}

#main-block {
    position: relative;
    height: 1000px;
    margin: 75px 0;
}

.main-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img {
    position: relative;
    max-width: 650px;
   }

.object {
    position: absolute;
    width: 200px;
    z-index: 10;
    transform: rotate(20deg);
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
.van {
    top: 310px;
    left: 0;
}

#main-block:hover .up{
    transform: translate(170px,-170px) rotate(20deg);
    transition-timing-function: ease-in;
    -webkit-transform: translate(170px,-170px) rotate(20deg); /** Chrome & Safari **/
    -o-transform: translate(170px,-170px) rotate(20deg); /** Opera **/
    -moz-transform: translate(170px,-170px) rotate(20deg);
}

#stars {
    width:100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#stars:hover {
}